<%= simple_form_for staff do |f| %>
  <%= f.button :submit, class: 'float-right btn btn-primary' %>
  <%= link_to '<戻る', staffs_path, class: 'btn btn-outline-primary', style: 'margin-bottom: 10px' %>
    <h3><%= title %></h3>
  <div class="clearfix">
    <%= render('shared/validation_alert', model: staff) if staff.errors.any? %>
      <%= f.input :id, wrapper: :horizontal_plaintext unless f.object.new_record? %>
      <%= f.association :company %>
      <%= f.input :login_name %>
      <%= f.input :name %>
      <%= f.input :staff_role %>
      <%= f.input :password %>
  </div>
<% end %>
