<%= render 'shared/notice' %>

<% if can? :create, Staff %>
<%= link_to "新規#{Staff.model_name.human}", new_staff_path, class: 'float-right btn btn-primary' %>
<% end %>
<h1><%= Staff.model_name.human %></h1>

<br>
<%= form_for @staff, method: :get do |f| %>
  <%= f.submit '検索', class: 'float-right btn btn-primary'  %>
  <div class="row col-md-10">
    <div class="col">
      <div class="form-group row">
        <%= f.select :company_id, Company.all.map { |c| [c.name, c.id] }, {include_blank: '-全会社-'}, class: 'form-control' %>
      </div>
    </div>
    <div class="col">
      <%= f.text_field :login_name, placeholder: 'ログインID', class: 'form-control' %>
    </div>
    <div class="col">
      <%= f.text_field :name, placeholder: '名前', class: 'form-control' %>
    </div>
  </div>
<% end %>
<br>

<%= paginate @staffs %>
<table class="table">
  <thead>
    <tr>
      <th><%= Staff.human_attribute_name :id %></th>
      <th><%= Staff.human_attribute_name :company %></th>
      <th><%= Staff.human_attribute_name :login_name %></th>
      <th><%= Staff.human_attribute_name :name %></th>
      <th><%= Staff.human_attribute_name :staff_role %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @staffs.each do |staff| %>
      <tr>
        <td><%= staff.id %></td>
        <td><%= staff.company.name %></td>
        <td><%= staff.login_name %></td>
        <td><%= staff.name %></td>
        <td><%= staff.staff_role %></td>
        <td>
          <% if can? :update, Staff %>
          <%= link_to edit_staff_path(staff) do %>
            編集
          <% end %>
          <% end %>
          &nbsp;
          <% if can? :destroy, Staff %>
          <%= link_to staff, method: :delete, data: { confirm: '削除してもよろしいですか？' } do %>
            削除
          <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @staffs %>
