<%= link_to '<戻る', image_props_path %>
<h2><%= ImageProp.model_name.human %>詳細</h2>
<%= render 'shared/notice' %>
<table class="table">
  <tr>
    <th><%= ImageProp.human_attribute_name :id %></th>
    <td><%= @image_prop.id %></td>
  </tr>
  <tr>
    <th><%= ImageProp.human_attribute_name :name %></th>
    <td><%= @image_prop.name %></td>
  </tr>
  <tr>
    <th><%= ImageProp.human_attribute_name :image %></th>
    <td><%= link_to image_prop.image.attachment.blob.filename.to_s, rails_blob_path(image_prop.image) if image_prop.image.attachment %></td>
  </tr>
</table>

<br/>
<%= link_to '編集', edit_image_prop_path(@image_prop), class: 'btn btn-primary' %>
