<%= render 'shared/notice' %>

<% if can? :create, Company %>
<%= link_to "新規#{Company.model_name.human}", new_company_path, class: 'float-right btn btn-primary' %>
<% end %>
<h1><%= Company.model_name.human %></h1>

<br>
<%= form_for @company, method: :get do |f| %>
  <%= f.submit '検索', class: 'float-right btn btn-primary'  %>
  <div class="row col-md-10">
    <div class="col">
      <%= f.text_field :uid, placeholder: '会社コード', class: 'form-control' %>
    </div>
    <div class="col">
      <%= f.text_field :name, placeholder: '会社名', class: 'form-control' %>
    </div>
  </div>
<% end %>
<br>

<%= paginate @companies %>
<table class="table">
  <thead>
    <tr>
      <th><%= Company.human_attribute_name :id %></th>
      <th><%= Company.human_attribute_name :uid %></th>
      <th><%= Company.human_attribute_name :name %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.id %></td>
        <td><%= company.uid %></td>
        <td><%= company.name %></td>
        <td>
          <% if can? :update, Company %>
          <%= link_to edit_company_path(company) do %>
            編集
          <% end %>
          <% end %>
          &nbsp;
          <% if can? :destroy, Company %>
          <%= link_to company, method: :delete, data: { confirm: '削除してもよろしいですか？' } do %>
            削除
          <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @companies %>
