<%= link_to '<戻る', sub_categories_path %>
<h2><%= SubCategory.model_name.human %>詳細</h2>
<%= render 'shared/notice' %>
<table class="table">
  <tr>
    <th><%= SubCategory.human_attribute_name :id %></th>
    <td><%= @sub_category.id %></td>
  </tr>
  <tr>
    <th><%= SubCategory.human_attribute_name :name %></th>
    <td><%= @sub_category.name %></td>
  </tr>
</table>

<br/>
<%= link_to '編集', edit_sub_category_path(@sub_category), class: 'btn btn-primary' %>
