<%#<%= render 'stored_props_modal' +|%>
<div id="app">
<%= simple_form_for stock_product, url: url, html: { multipart: true } do |f| %>
  <%= f.button :submit, class: 'float-right btn btn-primary' %>
  <%= link_to '<戻る', stock_products_path, class: 'btn btn-outline-primary', style: 'margin-bottom: 10px' %>
    <h3><%= title %></h3>

  <%= render "stock_products/product", product: @product if @product %>

  <div class="clearfix">
    <%= render('shared/validation_alert', model: stock_product) if stock_product.errors.any? %>
<%#    <%= f.input :id, wrapper: :horizontal_plaintext unless f.object.new_record? +|%>
    <%= f.hidden_field :product_id, value: params[:product_id] if params[:product_id].present? && stock_product.new_record? %>
    <%= f.association :category, collection: Category.accessible_by(current_ability).lasts %>
    <h5>サブカテゴリ</h5>
    <div id="product_sub_categories">
      <%= f.simple_fields_for :stock_product_sub_categories do |stock_product_sub_category| %>
        <%= render 'stock_products/stock_product_sub_category_fields', f: stock_product_sub_category %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'サブカテゴリ追加', f, :stock_product_sub_categories, partial: 'stock_products/stock_product_sub_category_fields', class: 'btn btn-secondary' %>
      </div>
    </div>
    <br>
    <%= input_unless_charted f, :video_url, base_name: 'video' %>
    <%= input_unless_charted f, :video_comment, base_name: 'video' %>
    <%= input_unless_charted f, :video_license, base_name: 'video' %>
    <%= input_unless_charted f, :video_license_valid, base_name: 'video' %>
    <%= input_unless_charted f, :video_published %>
    <%= input_unless_charted f, :video_charterable %>
    <%= f.input :spec %>
    <%= f.input :spec_comment %>
    <%= input_unless_charted f, :staff_comment %>
    <%= input_unless_charted f, :staff_comment_published %>
    <%= input_unless_charted f, :staff_comment_charterable %>
    <%= input_unless_charted f, :price_info %>
    <%= input_unless_charted f, :price_info_published %>
    <%= input_unless_charted f, :price_info_charterable %>
    <%= input_unless_charted f, :faq %>
    <%= input_unless_charted f, :faq_published %>
    <%= input_unless_charted f, :faq_charterable %>
    <%= input_unless_charted f, :description %>
    <%= input_unless_charted f, :description_published %>
    <%= input_unless_charted f, :description_charterable %>
    <%= input_unless_charted f, :address_info %>
    <%= input_unless_charted f, :address_info_published %>
    <%= input_unless_charted f, :address_info_charterable %>

    <h5>関連リンク</h5>
    <div>
      <div class="form-group row" v-for="(sptp, index) in stock_product_text_props" v-show="!sptp._destroy">
        <div class="col-md-4">
          <input type="text" placeholder="タイトル" v-model="sptp.stored_prop.name" :name="`stock_product[stock_product_text_props_attributes][${index}][stored_prop_attributes][name]`" class="form-control string required" :readonly="charter && sptp.charterable" required>
        </div>
        <div class="col-md-4">
          <textarea placeholder="URL" :name="`stock_product[stock_product_text_props_attributes][${index}][stored_prop_attributes][text_content]`" class="form-control text required" v-model="sptp.stored_prop.url" :readonly="charter && sptp.charterable" required> </textarea>
          <input type="hidden" :name="`stock_product[stock_product_text_props_attributes][${index}][stored_prop_attributes][source_id]`" v-model="sptp.stored_prop.source_id">
          <input type="hidden" :name="`stock_product[stock_product_text_props_attributes][${index}][stored_prop_attributes][id]`" v-model="sptp.stored_prop.id">
        </div>
        <div class="col-md-2">
          <fieldset class="form-group boolean optional stock_product_stock_product_text_props_published">
            <div class="form-check">
              <input :name="`stock_product[stock_product_text_props_attributes][${index}][published]`" type="hidden" value="0">
              <input type="checkbox" v-model="sptp.published" :name="`stock_product[stock_product_text_props_attributes][${index}][published]`" :id="`stock_product_stock_product_text_props_attributes_${index}_published`" class="form-check-input boolean optional">
              <label :for="`stock_product_stock_product_text_props_attributes_${index}_published`" class="form-check-label boolean optional">
                公開</label>
            </div>
          </fieldset>
          <fieldset class="form-group boolean optional stock_product_stock_product_text_props_charterable">
            <div v-if="sptp.charterable || !charter" class="form-check">
              <input :name="`stock_product[stock_product_text_props_attributes][${index}][charterable]`" type="hidden" value="0" :disabled="!!sptp.stored_prop.source_id">
              <input type="checkbox" v-model="sptp.charterable" :name="`stock_product[stock_product_text_props_attributes][${index}][charterable]`" :id="`stock_product_stock_product_text_props_attributes_${index}_charterable`" class="form-check-input boolean optional" :disabled="!!sptp.stored_prop.source_id">
              <label :for="`stock_product_stock_product_text_props_attributes_${index}_charterable`" class="form-check-label boolean optional">
                提供</label>
            </div>
          </fieldset>
        </div>
        <div class="col-md-2">
          <input v-model="sptp._destroy" type="hidden" :name="`stock_product[stock_product_text_props_attributes][${index}][_destroy]`" :id="`stock_product_stock_product_text_props_attributes_${index}__destroy`">
          <a v-show="!sptp.stored_prop.source_id" href="javascript:void(0);" class="btn btn-danger dynamic" @click="removeTextProp(sptp, index)">削除</a>
        </div>
        <input v-model="sptp.id" :name="`stock_product[stock_product_text_props_attributes][${index}][id]`" type="hidden">
        <input value="TextProp" :name="`stock_product[stock_product_text_props_attributes][${index}][stored_prop_type]`" type="hidden">
      </div>
      <div class="links">
        <a href="javascript:void(0);" class="btn btn-secondary" @click="addTextProp">関連リンク追加</a>
      </div>
    </div>
    <br>
    <h5>ダウンロードファイル</h5>
    <div>
      <div class="form-group row" v-for="(spfp, index) in stock_product_file_props" v-show="!spfp._destroy">
        <div class="col-md-4">
          <input type="text" placeholder="タイトル" v-model="spfp.stored_prop.name" :name="`stock_product[stock_product_file_props_attributes][${index}][stored_prop_attributes][name]`" :id="`stock_product_stock_product_file_props_attributes_${index}_stored_prop_attributes_name`" class="form-control string required" :readonly="charter && spfp.charterable" required>
        </div>
        <div class="col-md-4">
          <div>{{ displayFileName(spfp) }}</div>
          <button v-show="!charter || !spfp.charterable" type="button" class="btn btn-primary" @click="uploadFile(spfp, index)">アップロード</button>
          <input :id="`file_prop_file_${index}`" v-model="spfp.stored_prop.file" class="form-control-file file optional" type="file" :name="`stock_product[stock_product_file_props_attributes][${index}][stored_prop_attributes][file]`" style="display: none;" @change="onFileChange($event, spfp, index)" :disabled="!!spfp.stored_prop.source_id" required>
          <input type="hidden" :name="`stock_product[stock_product_file_props_attributes][${index}][stored_prop_attributes][source_id]`" v-model="spfp.stored_prop.source_id">
          <input type="hidden" :name="`stock_product[stock_product_file_props_attributes][${index}][stored_prop_attributes][id]`" v-model="spfp.stored_prop.id">
        </div>
        <div class="col-md-2">
          <fieldset class="form-group boolean optional stock_product_stock_product_file_props_published">
            <div class="form-check">
              <input :name="`stock_product[stock_product_file_props_attributes][${index}][published]`" type="hidden" value="0">
              <input type="checkbox" v-model="spfp.published" :name="`stock_product[stock_product_file_props_attributes][${index}][published]`" :id="`stock_product_stock_product_file_props_attributes_${index}_published`" class="form-check-input boolean optional">
              <label :for="`stock_product_stock_product_file_props_attributes_${index}_published`" class="form-check-label boolean optional">
                公開</label>
            </div>
          </fieldset>
          <fieldset class="form-group boolean optional stock_product_stock_product_file_props_charterable">
            <div v-if="spfp.charterable || !charter" class="form-check">
              <input :name="`stock_product[stock_product_file_props_attributes][${index}][charterable]`" type="hidden" value="0" :disabled="!!spfp.stored_prop.source_id">
              <input type="checkbox" v-model="spfp.charterable" :name="`stock_product[stock_product_file_props_attributes][${index}][charterable]`" :id="`stock_product_stock_product_file_props_attributes_${index}_charterable`" class="form-check-input boolean optional" :disabled="!!spfp.stored_prop.source_id">
              <label :for="`stock_product_stock_product_file_props_attributes_${index}_charterable`" class="form-check-label boolean optional">
                提供</label>
            </div>
          </fieldset>
        </div>
        <div class="col-md-2">
          <input v-model="spfp._destroy" type="hidden" :name="`stock_product[stock_product_file_props_attributes][${index}][_destroy]`" :id="`stock_product_stock_product_file_props_attributes_${index}__destroy`">
          <a v-show="!spfp.stored_prop.source_id" href="javascript:void(0);" class="btn btn-danger dynamic" @click="removeFileProp(spfp, index)">削除</a>
        </div>
        <input v-model="spfp.id" :name="`stock_product[stock_product_file_props_attributes][${index}][id]`" type="hidden">
        <input value="FileProp" :name="`stock_product[stock_product_file_props_attributes][${index}][stored_prop_type]`" type="hidden">
      </div>
      <div class="links">
        <a href="javascript:void(0);" class="btn btn-secondary" @click="addFileProp">ダウンロードファイル追加</a>
      </div>
    </div>
    <br>
    <h5>画像ファイル</h5>
    <div>
      <div class="form-group row" v-for="(spip, index) in stock_product_image_props" v-show="!spip._destroy">
        <div class="col-md-4">
          <input type="text" placeholder="タイトル" v-model="spip.stored_prop.name" :name="`stock_product[stock_product_image_props_attributes][${index}][stored_prop_attributes][name]`" :id="`stock_product_stock_product_image_props_attributes_${index}_stored_prop_attributes_name`" class="form-control string required" :readonly="charter && spip.charterable" required>
        </div>
        <div class="col-md-4">
          <div>{{ displayFileName(spip) }}</div>
          <button v-show="!charter || !spip.charterable" type="button" class="btn btn-primary" @click="uploadImage(spip, index)">アップロード</button>
          <input :id="`image_prop_image_${index}`" v-model="spip.stored_prop.image" class="form-control-file file optional" type="file" :name="`stock_product[stock_product_image_props_attributes][${index}][stored_prop_attributes][image]`" style="display: none;" @change="onFileChange($event, spip, index)" :disabled="!!spip.stored_prop.source_id" required>
          <input type="hidden" :name="`stock_product[stock_product_image_props_attributes][${index}][stored_prop_attributes][source_id]`" v-model="spip.stored_prop.source_id">
          <input type="hidden" :name="`stock_product[stock_product_image_props_attributes][${index}][stored_prop_attributes][id]`" v-model="spip.stored_prop.id">
        </div>
        <div class="col-md-2">
          <fieldset class="form-group boolean optional stock_product_stock_product_image_props_published">
            <div class="form-check">
              <input :name="`stock_product[stock_product_image_props_attributes][${index}][published]`" type="hidden" value="0">
              <input type="checkbox" v-model="spip.published" :name="`stock_product[stock_product_image_props_attributes][${index}][published]`" :id="`stock_product_stock_product_image_props_attributes_${index}_published`" class="form-check-input boolean optional">
              <label :for="`stock_product_stock_product_image_props_attributes_${index}_published`" class="form-check-label boolean optional">
                公開</label>
            </div>
          </fieldset>
          <fieldset class="form-group boolean optional stock_product_stock_product_image_props_charterable">
            <div v-if="spip.charterable || !charter" class="form-check">
              <input :name="`stock_product[stock_product_image_props_attributes][${index}][charterable]`" type="hidden" value="0" :disabled="!!spip.stored_prop.source_id"> <input type="checkbox" v-model="spip.charterable" :name="`stock_product[stock_product_image_props_attributes][${index}][charterable]`" :id="`stock_product_stock_product_image_props_attributes_${index}_charterable`" class="form-check-input boolean optional" :disabled="!!spip.stored_prop.source_id"> <label :for="`stock_product_stock_product_image_props_attributes_${index}_charterable`" class="form-check-label boolean optional">提供</label>
            </div>
          </fieldset>
        </div>
        <div class="col-md-2">
          <input v-model="spip._destroy" type="hidden" :name="`stock_product[stock_product_image_props_attributes][${index}][_destroy]`" :id="`stock_product_stock_product_image_props_attributes_${index}__destroy`">
          <a v-show="!spip.stored_prop.source_id" href="javascript:void(0);" class="btn btn-danger dynamic" @click="removeImageProp(spip, index)">削除</a>
        </div>
        <input v-model="spip.id" :name="`stock_product[stock_product_image_props_attributes][${index}][id]`" type="hidden">
        <input value="ImageProp" :name="`stock_product[stock_product_image_props_attributes][${index}][stored_prop_type]`" type="hidden">
      </div>
      <div class="links">
        <a href="javascript:void(0);" class="btn btn-secondary" @click="addImageProp">画像追加</a>
      </div>
    </div>
    <br>

    <%= f.input :company_memo %>
    <%= f.input :private_memo %>
    <%= f.input :meta_description %>
    <%= f.input :meta_keywords %>
    <%= f.input :charterable unless f.object.stock_product %>
  </div>
<% end %>
</div>

<script>

var app = new Vue({
  el: '#app',
  data() {
    data = {
      charter: <%= raw (@stock_product.stock_product ? 'true' : 'false') %>,
      stock_product_text_props: <%= raw @stock_product.stock_product_text_props.to_json %>,
      stock_product_file_props: <%= raw @stock_product.stock_product_file_props.to_json %>,
      stock_product_image_props: <%= raw @stock_product.stock_product_image_props.to_json %>,
    }

    data.stock_product_text_props.forEach(function(tp) {
      tp._destroy = false
    })
    data.stock_product_file_props.forEach(function(fp) {
      fp._destroy = false
    })
    data.stock_product_image_props.forEach(function(fp) {
      fp._destroy = false
    })

    return data
  },
  methods: {
    addTextProp() {
      this.stock_product_text_props.push(
        {
          id: null,
          published: false,
          charterable: false,
          stored_prop: {
            id: null,
            name: '',
            text_content: ''
          }
        }
      )
    },
    removeTextProp(stock_product_text_prop, index) {
      if (stock_product_text_prop.id) {
        stock_product_text_prop._destroy = true
      } else {
        this.stock_product_text_props.splice(index, 1)
      }
    },
    addFileProp() {
      this.stock_product_file_props.push(
        {
          id: null,
          published: false,
          charterable: false,
          stored_prop: {
            id: null,
            name: '',
            url: '',
            file_name: '',
            file: null,
          }
        }
      )
    },
    removeFileProp(stock_product_file_prop, index) {
      if (stock_product_file_prop.id) {
        stock_product_file_prop._destroy = true
      } else {
        this.stock_product_file_props.splice(index, 1)
      }
    },
    addImageProp() {
      this.stock_product_image_props.push(
        {
          id: null,
          published: false,
          charterable: false,
          stored_prop: {
            id: null,
            name: '',
            url: '',
            file_name: '',
            image: null,
          }
        }
      )
    },
    removeImageProp(stock_product_image_prop, index) {
      if (stock_product_image_prop.id) {
        stock_product_image_prop._destroy = true
      } else {
        this.stock_product_image_props.splice(index, 1)
      }
    },
    displayFileName(prop) {
      if (prop.stored_prop.file_name) {
        return prop.stored_prop.file_name
      }
      return ''
    },
    uploadFile(prop, index) {
      $(`#file_prop_file_${index}`).click()
    },
    onFileChange(event, prop, index) {
      const target = event.target
      const file = target.files[0]
      prop.stored_prop.file_name = file.name
    },
    uploadImage(prop, index) {
      $(`#image_prop_image_${index}`).click()
    },
  }
})
</script>
