<%= render 'shared/notice' %>

<% if can? :create, StockProduct %>
<%= link_to "新規#{StockProduct.model_name.human}", new_stock_product_path, class: 'float-right btn btn-primary' %>
<% end %>
<h1><%= StockProduct.model_name.human %></h1>

<%= paginate @stock_products %>
<table class="table">
  <thead>
    <tr>
      <th><%= StockProduct.human_attribute_name :id %></th>
    
      <th><%= StockProduct.human_attribute_name :product_id %></th>
    
      <th><%= StockProduct.human_attribute_name :company_id %></th>
    
      <th><%= StockProduct.human_attribute_name :category_id %></th>
    
      <th><%= StockProduct.human_attribute_name :video_url %></th>
    
      <th><%= StockProduct.human_attribute_name :video_comment %></th>
    
      <th><%= StockProduct.human_attribute_name :video_license %></th>
    
      <th><%= StockProduct.human_attribute_name :video_license_valid %></th>
    
      <th><%= StockProduct.human_attribute_name :video_published %></th>
    
      <th><%= StockProduct.human_attribute_name :video_charterable %></th>
    
      <th><%= StockProduct.human_attribute_name :spec %></th>
    
      <th><%= StockProduct.human_attribute_name :spec_comment %></th>
    
      <th><%= StockProduct.human_attribute_name :staff_comment %></th>
    
      <th><%= StockProduct.human_attribute_name :staff_comment_published %></th>
    
      <th><%= StockProduct.human_attribute_name :staff_comment_charterable %></th>
    
      <th><%= StockProduct.human_attribute_name :price_info %></th>
    
      <th><%= StockProduct.human_attribute_name :price_info_published %></th>
    
      <th><%= StockProduct.human_attribute_name :price_info_charterable %></th>
    
      <th><%= StockProduct.human_attribute_name :faq %></th>
    
      <th><%= StockProduct.human_attribute_name :faq_published %></th>
    
      <th><%= StockProduct.human_attribute_name :faq_charterable %></th>
    
      <th><%= StockProduct.human_attribute_name :description %></th>
    
      <th><%= StockProduct.human_attribute_name :description_published %></th>
    
      <th><%= StockProduct.human_attribute_name :description_charterable %></th>
    
      <th><%= StockProduct.human_attribute_name :address_info %></th>
    
      <th><%= StockProduct.human_attribute_name :address_info_published %></th>
    
      <th><%= StockProduct.human_attribute_name :address_info_charterable %></th>
    
      <th><%= StockProduct.human_attribute_name :company_memo %></th>
    
      <th><%= StockProduct.human_attribute_name :private_memo %></th>
    
      <th><%= StockProduct.human_attribute_name :meta_description %></th>
    
      <th><%= StockProduct.human_attribute_name :meta_keywords %></th>
    
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stock_products.each do |stock_product| %>
      <tr>
        <td><%= stock_product.id %></td>
      
        <td><%= stock_product.product_id %></td>
      
        <td><%= stock_product.company_id %></td>
      
        <td><%= stock_product.category_id %></td>
      
        <td><%= stock_product.video_url %></td>
      
        <td><%= stock_product.video_comment %></td>
      
        <td><%= stock_product.video_license %></td>
      
        <td><%= stock_product.video_license_valid %></td>
      
        <td><%= stock_product.video_published %></td>
      
        <td><%= stock_product.video_charterable %></td>
      
        <td><%= stock_product.spec %></td>
      
        <td><%= stock_product.spec_comment %></td>
      
        <td><%= stock_product.staff_comment %></td>
      
        <td><%= stock_product.staff_comment_published %></td>
      
        <td><%= stock_product.staff_comment_charterable %></td>
      
        <td><%= stock_product.price_info %></td>
      
        <td><%= stock_product.price_info_published %></td>
      
        <td><%= stock_product.price_info_charterable %></td>
      
        <td><%= stock_product.faq %></td>
      
        <td><%= stock_product.faq_published %></td>
      
        <td><%= stock_product.faq_charterable %></td>
      
        <td><%= stock_product.description %></td>
      
        <td><%= stock_product.description_published %></td>
      
        <td><%= stock_product.description_charterable %></td>
      
        <td><%= stock_product.address_info %></td>
      
        <td><%= stock_product.address_info_published %></td>
      
        <td><%= stock_product.address_info_charterable %></td>
      
        <td><%= stock_product.company_memo %></td>
      
        <td><%= stock_product.private_memo %></td>
      
        <td><%= stock_product.meta_description %></td>
      
        <td><%= stock_product.meta_keywords %></td>
      
        <td>
          <% if can? :update, StockProduct %>
          <%= link_to edit_stock_product_path(stock_product) do %>
            編集
          <% end %>
          <% end %>
          &nbsp;
          <% if can? :destroy, StockProduct %>
          <%= link_to stock_product, method: :delete, data: { confirm: '削除してもよろしいですか？' } do %>
            削除
          <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @stock_products %>
