<%= simple_form_for product do |f| %>
  <%= f.button :submit, class: 'float-right btn btn-primary' %>
  <%= link_to '<戻る', products_path, class: 'btn btn-outline-primary', style: 'margin-bottom: 10px' %>
    <h3><%= title %></h3>
  <div class="clearfix">
    <%= render('shared/validation_alert', model: product) if product.errors.any? %>
    <%= f.input :id, wrapper: :horizontal_plaintext unless f.object.new_record? %>
    
      <%= f.input :product_code %>
    
      <%= f.association :category, collection: Category.where(last: true).map { |c| [c.name, c.id] }, prompt: '最終カテゴリを選択' %>

      <h5>サブカテゴリ</h5>
      <div id="product_sub_categories">
        <%= f.simple_fields_for :product_sub_categories do |product_sub_category| %>
          <%= render 'product_sub_category_fields', f: product_sub_category %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'サブカテゴリ追加', f, :product_sub_categories, class: 'btn btn-secondary' %>
        </div>
      </div>
      <br>

    
      <%= f.input :title %>
    
      <%= f.input :netis %>
    
      <%= f.input :netis_limit_date %>
    
      <%= f.input :qualification_sp_teach %>
    
      <%= f.input :qualification_skill %>
    
      <%= f.input :qualification_comment %>
    
      <%= f.input :driver_license %>
    
      <%= f.input :checking_teiji %>
    
      <%= f.input :checking_tokujiken %>
    
      <%= f.input :checking_shaken %>
    
      <%= f.input :checking_denhou %>
    
      <%= f.input :checking_souken %>
    
      <%= f.input :description_a %>
    
      <%= f.input :description_b %>
    
      <%= f.input :video_url %>
    
      <%= f.input :video_comment %>
    
      <%= f.input :video_license_memo %>
    
  </div>
<% end %>
