<%= render 'shared/notice' %>

<% if can? :create, Product %>
<%= link_to "新規#{Product.model_name.human}", new_product_path, class: 'float-right btn btn-primary' %>
<%= link_to "#{Product.model_name.human}インポート", import_products_path, style: "margin-right: 10px", class: 'float-right btn btn-primary' %>
<% end %>
<h1><%= Product.model_name.human %></h1>


<br>
<%= form_for @product, method: :get do |f| %>
  <%= f.submit '検索', class: 'float-right btn btn-primary'  %>
  <div class="row col-md-10">
    <div class="col">
      <%= f.text_field :product_name, placeholder: '商品コード', class: 'form-control' %>
    </div>
    <div class="col">
      <%= f.text_field :title, placeholder: 'ページタイトル', class: 'form-control' %>
    </div>
  </div>
<% end %>
<br>

<%= paginate @products %>
<table class="table">
  <thead>
    <tr>
      <th><%= Product.human_attribute_name :id %></th>
      <th><%= Product.human_attribute_name :product_name %></th>
      <th><%= Product.human_attribute_name :title %></th>
      <th><%= Product.human_attribute_name :description_a %></th>
      <th><%= Product.human_attribute_name :description_b %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.product_name %></td>
        <td><%= product.title %></td>
        <td><%= product.description_a %></td>
        <td><%= product.description_b %></td>
        <td>
          <% if can? :update, Product %>
          <%= link_to edit_product_path(product) do %>
            編集
          <% end %>
          <% end %>
          &nbsp;
          <% if can? :destroy, Product %>
          <%= link_to product, method: :delete, data: { confirm: '削除してもよろしいですか？' } do %>
            削除
          <% end %>
          <% end %>
          <% if can? :create, StockProduct %>
          <%= link_to new_product_stock_product_path(product) do %>
            新規自社在庫
          <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @products %>
