<%= render 'shared/notice' %>

<%= link_to "新規#{Product.model_name.human}", new_product_path, class: 'float-right btn btn-primary' %>
<h1><%= Product.model_name.human %></h1>

<%= paginate @products %>
<table class="table">
  <thead>
    <tr>
      <th><%= Product.human_attribute_name :id %></th>
      <th><%= Product.human_attribute_name :product_code %></th>
      <th><%= Product.human_attribute_name :category %></th>
      <th><%= Product.human_attribute_name :title %></th>
      <th><%= Product.human_attribute_name :description_a %></th>
      <th><%= Product.human_attribute_name :description_b %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.product_code %></td>
        <td><%= link_to product.category.name, product.category %></td>
        <td><%= product.title %></td>
        <td><%= product.description_a %></td>
        <td><%= product.description_b %></td>
        <td>
          <%= link_to edit_product_path(product) do %>
            編集
          <% end %>
          &nbsp;
          <%= link_to product, method: :delete, data: { confirm: '削除してもよろしいですか？' } do %>
            削除
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @products %>
